{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" type="image/ico" href="{% get_static_prefix %}img//favicon.ico"/>
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>YULAH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
  type="text/javascript"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=YAIzaSyDNMzXV_6v_CaG3WquQ4zgjbhkswOREj5w&callback=initMap"
  type="text/javascript"></script>
 <link rel="shortcut icon" type="image/ico" href="{% get_static_prefix %}img//favicon.ico"/>
  <style>
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      background-image: url('http://wallpapersonthe.net/wallpapers/b/3840x2160/3840x2160-moraine_lake_mountain_banff_national_park_lake_canada_sunset_landscape-15946.jpg');
      background-size: cover;
      /*background-color: #f4511e;*/
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
      text-align: center;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      background:transparent;
      color: #fff !important;
  }
  footer .foot {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.dropbtn {
    background-color: #f4511e;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4511e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.dropdown-content a:hover {background-color: #f4511e}

.dropdown:hover .dropdown-content {
    display: block;
    font-size: 12px;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.dropdown:hover .dropbtn {
    background-color: #f4511e;
    font-size: 12px;
    font-size: 12px !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  .col-sm-4 pImg {
    width: 50%;
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">YULAH</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="dropdown">
            <a data-side-panel-trigger="opportunities">
            <button class="dropbtn">OPPORTUNITIES</button>
                <div class="dropdown-content">
                    <a href="#about">Career Opportunities</a>
                    <a href="#">Students & Grads</a>
                    <a href="#">Locations</a>
                </div>
            </a>
            </div>
        </li>
        <li>
            <div class="dropdown">
            <button class="dropbtn">INFORMATION</button>
                <div class="dropdown-content">
                    <a href="#services">YULAH Story</a>
                    <a href="#">Our Hiring Process</a>
                    <a href="#">Events Calender</a>
                    <a href="#"> Contact Us</a>
                </div>
            </div>    
        </li>
        <li>
        <li>
            <div class="dropdown">
            <button class="dropbtn">CONTACT</button>
                <div class="dropdown-content">
                    <a href="#contact">Contact</a>
                    <a href="#">Details</a>
                    <a href="#">Team</a>
                </div>
            </div>        
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>YULAH</h1>
  <p>Careers </p>
  <form class="form-inline">
    <!-- <input type="email" class="form-control" size="50" placeholder="Email Address" required> -->
    <button type="button" class="btn btn-danger">CURRENTOPENINGS</button>
  </form>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About YULAH</h2><br>
      <h4>Marketers are under pressure to demonstrate ROI fro the marketing channels they use. Future budgets and businesses will depend on it. Building brand equity while driving relevant, local and timely messaging is key.People are watching more video than ever before, yet marketers are hard-pressed to figure out how to use video as a revenue-generating marketing tool.Marketers understand that video is the most powerful communication tool. They understand that 1-to-1, data-driven communications drive action.Using VideoIQ®, we know on an elemental level what works in a video and what doesn’t, and we can construct the most persuasive 1-to-1 video message to motivate consumers to take action towards a purchase.</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span style="padding-right:3px; padding-top: 3px; display:inline-block; ">
        <img class="img-responsive" src="{% get_static_prefix %}img/ipad.png" alt=""></img>
      </span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span style="padding-right:3px; padding-top: 3px; display:inline-block; ">
        <img class="img-responsive" src="{% get_static_prefix %}img/phones.png" alt=""></img>
      </span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong> Eyeview is a video marketing technology company and the industry leader in outcome-based video marketing. Eyeview delivers superior return on investment through 1-to-1 video.With our proprietary VideoIQ® technology, Eyeview easily leverages brand, product and consumer data to create and deliver 1-to-1 video ads to every consumer and ultimately drive sales. VideoIQ provides an elemental knowledge of video variables that powers a results-driven decisioning engine, capable of making billions of decisions each day, delivering the most relevant message to every consumer across television, desktop, mobile and Facebook.Headquartered in New York City, with offices in LA, Detroit, Seattle and Chicago, Eyeview serves the nation’s top brands, including P&G, Walgreens, Lowes, Honda, BMW and Priceline. Eyeview was ranked as the second-fastest growing company in the Tri-State Area by Deloitte’s Technology Fast 500™.</h4><br>
      <p><strong>VISION:</strong> Today’s consumers seamlessly traverse digital and real-world experiences. From e-com and m-com to the store aisle, people are researching and making buying decisions when and where they choose. Imagine if you could use your most powerful branding tool—video—to also create millions of 1-to-1 videos that drive sales, locally, at scale. With Eyeview, you can.</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>BENEFITS</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
        <a href="http://www.google.com/">
      <span class="glyphicon glyphicon-heart logo-small"></span></a>
      <h4>HEALTH and WELLNESS</h4>
      <p>We care about our associates' well-being. You can choose from a variety of health plans, stay fit at one of our on-site fitness centers, or even participate in a company-sponsored athletic team.</p>
    </div>
    <div class="col-sm-4">
        <a href="http://www.google.com/">
      <span class="glyphicon glyphicon-education logo-small"></span></a>
      <h4>EDUCATION and TRAINING</h4>
      <p>We believe in lifelong learning, and offer a range of career development programs, including industry-leading training, tuition reimbursement, mentoring programs and family scholarships.</p>
    </div>
    <div class="col-sm-4">
        <a href="http://www.google.com/">
      <span class="glyphicon glyphicon-lock logo-small"></span></a>
      <h4>FINANCIAL SECURITY</h4>
      <p>Make your future bright. We offer performance-based promotions, 401(k) plans, profit sharing awards, flexible spending accounts, and more.</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
        <a href="http://www.google.com/">
      <span class="glyphicon glyphicon-time logo-small">
        
      </span></a>
      <h4>TIME OFF</h4>
      <p>Time well-spent outside the office is important. That's why we've included a variety of leave programs so that our associates can maintain a healthy work/life balance.</p>
    </div>
    <div class="col-sm-4">
        <a href="http://www.google.com/">
      <span class="glyphicon glyphicon-certificate logo-small"></span></a>
      <h4>VOLUNTEER OPPORTUNITIES</h4>
      <p>Through our Corporate Community Citizens program, associates can volunteer and give back to the neighborhoods in which they live and work.</p>
    </div>
    <div class="col-sm-4">
        <a href="http://www.google.com/">
      <span class="glyphicon glyphicon-wrench logo-small"></span></a>
      <h4 style="color:#303030;">FOOD</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2><br>
  <h4>What we have created</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
      <a href="http://www.google.com/">
        <img src="http://24b3f6.medialib.edu.glogster.com/media/71/71f9fb8d0a33164ad387e90e65b3353bdaa8c0f699cc279f4bab0ecda697d70c/eiffel-tower-wallpaper-6.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
      <a href="http://www.google.com/">
        <img src="http://5d48184523c8a489ed05-91a4b8ed85c04e5358f91889505a4163.r43.cf1.rackcdn.com/44/1/thumbnail.jpg" alt="New York" width="400" height="300">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
      <a href="http://www.google.com/">
        <img src="https://i.ytimg.com/vi/NA31XYw3dV8/maxresdefault.jpg" alt="San Francisco" width="400" height="300">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
  </div><br>
  
  <h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$49</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="foot"></span>
    <h1> Come Join Us</h1>
  </a>
  <p> Explore our career opportuinities and apply today.</p>
   <button type="button" class="btn btn-danger">CURRENTOPENINGS</button>
</footer>

<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> NewYork, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +1 908908908</p>
      <p><span class="glyphicon glyphicon-envelope"></span> raviteja@yulah.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>

