{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll" style="width:15%;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a href="{% url 'dashboard' %}"><img style="width:69%;" src="{%get_static_prefix%}images/logo_main.png"></a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a href="#" class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">OCR Welcome page
                    <span class="caret"></span>
                </a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">                
                <li>
                    <a class="page-scroll" href="#"><span style="font-size:1.5em;" class="white-text"><i class="fa fa-envelope" aria-hidden="true"></i></span></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="bootstrap-elements.html" data-target="#">
                    {{user.first_name}} <span class="caret"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <div class="progress" style="margin-bottom:0px;height:3px;display:none;">
      <div class="progress-bar progress-bar-striped active progress-bar-info" role="progressbar" aria-valuenow="0"
      aria-valuemin="0" aria-valuemax="100" style="width:5%;background-color:#4fc3f7">
      </div>
    </div>
</nav>
