{%extends 'dash_base.html'%}
{% load static %}


{% block home-marquee %}
	<title>
	    {% block title %}
	       Hi {{user.first_name}}
	    {% endblock %}
	</title>
  <div id="workspace" class="row">

  	<div class="col-md-12">
  	    <div class="col-md-12">
  	    <h3>Welcome</h3>
  	<p> OCR is Optical Character Recognition </p>
    <p>OCR User guide</p>
      <p> 
      List of supported documents<br> 
      1.Pdf<br>
      2.doc<br>
      3.jpeg<br>
      4.tiff<br>
      </p>
  	</div>
  
    <address>
Written by <a href="mailto:webmaster@example.com">Raviteja</a>.<br> 
Contact:<br>
OCR <br>
The Hartford<br>
Windsor CT-06095
</address> 
  	</div>
  		

  </div>
{% endblock %}
